<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    <f:section name="content">
        <div class="row">
            <div
                id="calendar{contentObject.uid}"
                class="col-md-{f:if(condition: categories, then: '9', else: '12')}"
                data-md-fullcalendar
                data-events-url="{f:uri.page(pageUid: contentObject.pid, pageType: 1573738558, additionalParams: {storage: storagePid})}"
                data-initial-view="{settings.view}"
                data-locale="{settings.language}"
                data-filter-id="categoryFilter{contentObject.uid}"
                data-modal-id="calModal{contentObject.uid}"
            ></div>

            <f:if condition="{categories}">
                <div id="categoryFilter{contentObject.uid}" class="category-filter col-md-3 mt-5">
                    <p>{f:translate(key: 'filter_calendars', extensionName: 'MdFullcalendar')}</p>
                    <f:for each="{categories}" as="category">
                        <div class="form-check category{category.uid} border border-white rounded">
                            <div class="p-1">
                                <input
                                    type="checkbox"
                                    value="category{category.uid}"
                                    name="categoryFilter{contentObject.uid}"
                                    class="form-check-input"
                                    id="cf{contentObject.uid}_{category.uid}"
                                >
                                <label class="form-check-label" for="cf{contentObject.uid}_{category.uid}">
                                    {category.title}
                                </label>
                            </div>
                        </div>
                    </f:for>
                </div>
            </f:if>
        </div>

        <div
            class="modal fade"
            id="calModal{contentObject.uid}"
            tabindex="-1"
            role="dialog"
            aria-hidden="true"
            aria-label="{f:translate(key: 'calendar', extensionName: 'MdFullcalendar')}"
        >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-content-inner"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-dismiss="modal">
                            {f:translate(key: 'close', extensionName: 'MdFullcalendar')}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <f:asset.script
            identifier="md-fullcalendar-calendar"
            src="EXT:md_fullcalendar/Resources/Public/JavaScript/calendar.js"
            defer="true"
        />
    </f:section>
</html>
